- content_for(:page_title) { t("evaluations.categories.#{@category}", default: @category.humanize) }
- content_for(:column_overrides) { "lg: 8, md: 10" }

%h1= t("evaluations.categories.#{@category}", default: @category.humanize)

%p.fr-text--lead
  Vérifiez que vous répondez aux standards techniques pour la catégorie #{t("evaluations.categories.#{@category}", default: @category.humanize)}.

.fr-mb-4w
%ol.fr-task-list__items
  - @evaluation.standards_for(@category).each_with_index do |question, index|
    %li.fr-task-list__item
      %span.fr-task-list__item-name
        %span.fr-task-list__section-number= "#{index + 1}."
        = link_to category_question_startup_evaluation_path(@startup.ghid, @category, question.id), class: "fr-link fr-link--md" do
          = question.title
          %span.fr-text--sm.fr-text--regular.fr-ml-1w
            = "(#{t('evaluations.criteria', count: question.criteria.size)})"
      = progress_badge(question, "sm")
