- content_for(:page_title) { "Vos services" }

.fr-grid-row
  .fr-col-12.fr-col-md-7
    %h1 Vos services

    - if @startups.none?
      %p
        Vous n'avez pas de services actifs. Assurez-vous que vos missions sont à jour dans
        = dsfr_link_to "l'Espace Membre", "https://espace-membre.incubateur.net/"
        \.
    - else
      %p.fr-text--lead
        Voici la liste de vos services. Vous pouvez démarrer
        l'auto-audit sur n'importe lequel, et y revenir plus tard si
        nécessaire.

      %ul.startups-list
        - @startups.each do |startup|
          %li
            %h2
              = startup.name

            %div.description
              %p
                .div
                  Incubé chez
                  %strong.incubator= startup.incubator
                  \-
                  = dsfr_badge(status: :info) { startup.latest_phase.to_s }

            - if startup.audit.blank?
              = dsfr_link_to "Commencer l'audit", startup_audit_path(startup.ghid), title: "Commencer l'audit pour la startup #{startup}"
            - else
              = dsfr_link_to "Continuer l'audit (complétion : #{startup.audit_completion}%)", startup_audit_path(startup.ghid), title: "Continuer l'audit pour la startup #{startup}"
