- content_for(:page_title) { "Vos services" }
- content_for(:column_overrides) { "lg: 12, md: 12" }

%h1 Vos services

- if @startups.none?
  %p
    Vous n'avez pas de services actifs. Assurez-vous que vos missions sont à jour dans
    = dsfr_link_to "l'Espace Membre", "https://espace-membre.incubateur.net/"
    \.
- else
  %p.fr-text--lead
    Voici la liste de vos services. Vous pouvez commencer une évaluation et y revenir plus tard si
    nécessaire.

.fr-grid-row.fr-grid-row--gutters
  - @startups.each do |startup|
    .fr-col-12.fr-col-md-6.fr-col-lg-3
      .fr-tile.fr-enlarge-link{data: { turbo: { prefetch: "false" } } }
        .fr-tile__body
          .fr-tile__content
            %h3.fr-tile__title
              = dsfr_link_to startup.name, startup_evaluation_path(startup.ghid), title: "Commencer l'évaluation pour le service #{startup.name}"
            %p.fr-tile__desc= startup.pitch
            - if startup.evaluation.present?
              %p.fr-tile__detail
                Complétion :&nbsp
                %strong
                  = startup.evaluation&.presented.completion_level.to_i
                  \%
            .fr-tile__start
              - if startup.evaluation.present?
                = progress_badge(startup.evaluation)
              - else
                = dsfr_badge(status: :new) { 'À remplir' }
