- content_for(:page_title) { "Les standards" }

%h1 Les standards

= dsfr_highlight do
  %p
    Ces standards techniques sont développés de manière collaborative et open source par la communauté beta.gouv.fr. Ils évoluent continuellement pour intégrer les meilleures pratiques du développement numérique.
    = dsfr_link_to "Contribuez sur GitHub", "https://github.com/betagouv/standards", target: "_blank"

- @standards.each do |category, standards|
  %h2= t("evaluations.categories.#{category}", default: category.humanize)

  %p
    %ol
      - standards.each do |standard|
        %li.fr-mb-1w
          = dsfr_link_to standard.title, standard_url(standard), title: "Consultez le standard \"#{standard.title}\" sur betagouv/standards", target: "_blank"
