
%h1 Bienvenue dans l'outil d'auto-audit de Beta

- content_for(:page_title) { "Bienvenue" }

.fr-grid-row
  .fr-col-12.fr-col-md-6
    %p.fr-text--lg

      Ce questionnaire vous accompagne dans l'évolution de votre
      service pour vous aider à rester à la pointe des
      = dsfr_link_to("standards de Beta","https://github.com/betagouv/standards")
      \.

    %p
      Pour démarrer, sélectionnez votre produit :

    = form_with(url: "/survey", method: :get) do |form|
      .fr-input-group
        = form.label :name, "Nom de votre produit", class: 'fr-label'
        = form.search_field :name, class: 'fr-input', list: "products_datalist", autocomplete: "off"

        = content_tag(:datalist, nil, id: :products_datalist, 'data-autocomplete-input-target' => :datalist) do
          - @products.each do |option|
            = content_tag(:option, nil, value: option, data: { id: option.downcase }, 'data-autocomplete-input-target' => 'datalistOption')

      .fr-btns-group.fr-btns-group--inline
        = form.submit nil, { class: 'fr-btn' }
