.fr-grid-row{"data-controller": "audit"}
  .fr-col-12
    = form_with(model: @audit, url: startup_audit_path(@startup.ghid), method: :patch,  data: { turbo: false }) do |f|
      = dsfr_tabs do |tabs|
        - @audit.questions.group_by(&:category).each do |category, questions|
          - tabs.with_tab(title: t("audits.categories.#{category}", default: category.humanize)) do
            .fr-grid-row.fr-grid-row--gutters
              - questions.each_with_index do |question, q_index|
                .fr-col-md-6.fr-mb-4w.fr-px-2w
                  .fr-p-4w.fr-background-alt--grey.question-card{class: question.complete? ? "completed" : ""}
                    %h4.fr-mb-2w= question.title
                    .fr-mb-3w
                      :markdown
                        #{question.description}

                    = f.fields_for :questions, question, index: question.id do |question__fields|
                      - question.criteria.each_with_index do |criterion, c_index|
                        .fr-checkbox-group.fr-mb-2w
                          = check_box_tag "audit[questions][#{question.id}][criteria][]",
                                         "yes",
                                         criterion.answered?,
                                         id: "audit_q#{q_index}_c#{c_index}"
                          = label_tag "audit_q#{q_index}_c#{c_index}", criterion.label
      .fr-grid-row.fr-mt-4w
        .fr-col-12
          = f.submit "Enregistrer", class: "fr-btn"
