- content_for(:page_title) { t("audits.categories.#{@category}", default: @category.humanize) }

.fr-grid-row.fr-pt-6w.fr-mb-2w
  .fr-col-12.fr-col-md-10.fr-col-lg-8
    %h1= t("audits.categories.#{@category}", default: @category.humanize)

.fr-grid-row.fr-mt-3w
  .fr-col-12.fr-col-md-9
    %p.fr-text--lead.fr-mb-4w
      Vérifiez que vous répondez aux standards techniques ci-dessous pour la catégorie #{t("audits.categories.#{@category}", default: @category.humanize)}.

    .fr-mb-4w
      .fr-progress
        - category_percentage = 80
        .fr-progress__bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => category_percentage, role: "progressbar"}
          .fr-progress__bar-inner{style: "width: #{category_percentage}%"}
      %p.fr-text--sm.fr-mt-1w
        %strong= 42
        standards validés (#{category_percentage}%)

    %form{action: "#", method: "post"}
      %ol.fr-task-list__items
        - @audit.questions_for(@category).each_with_index do |question, index|
          - status_class = question.complete? ? "fr-badge--success" : ""
          - status_text = question.complete? ? "Terminé" : "À faire"

          %li.fr-task-list__item
            %span.fr-task-list__item-name
              %span.fr-task-list__section-number= "#{index + 1}."
              = link_to category_question_startup_audit_path(@startup.ghid, @category, question.id), class: "fr-link fr-link--md" do
                = question.title
                - if question.criteria.size > 0
                  %span.fr-text--sm.fr-text--regular.fr-ml-1w
                    = "(#{question.criteria.size} critères)"
            %span.fr-task-list__status
              %span.fr-badge.fr-badge--sm{class: status_class}= status_text
