- content_for(:page_title) { @question.title }

.fr-col-12.fr-col-md-7
  %h1.fr-mt-2w.fr-mb-4w= @question.title

.fr-col-12.fr-col-md-8
  .question-simple
    .question-description
      :markdown
        #{@question.description}

    - if @question.resources.present?
      .question-resources
        %h2.question-section__title Ressources pour vous aider
        %ul
          - @question.resources.each do |resource|
            %li
              :markdown
                #{resource}

    .question-section
      = form_with(model: @audit, url: startup_audit_path(@startup.ghid), method: :patch, data: { turbo: "false" }) do |form|
        = form.fields_for @question do |ff|
          = ff.hidden_field :id, value: @question.id
          %fieldset.fr-fieldset
            %legend.question-section__title Critères à valider
            - @question.criteria.each_with_index do |criterion, index|
              = ff.fields_for :criteria, index: index do |fff|
                .fr-fieldset__element
                  .fr-checkbox-group
                    = fff.checkbox :answer, checked: criterion.answer == "1"
                    = fff.label :answer, criterion.label, class: "fr-label"

        = form.submit "Enregistrer ma réponse", class: "fr-btn fr-btn--secondary "
