- content_for(:page_title) { @question.title }

.fr-col-12.fr-col-md-7
  %h1.fr-mt-2w.fr-mb-4w= @question.title

.fr-col-12.fr-col-md-8
  .question-simple
    .question-description
      :markdown
        #{@question.description}

    - if @question.resources.present?
      .question-resources
        %h2.question-resources__title Ressources pour vous aider
        %ul
          - @question.resources.each do |resource|
            %li
              - if resource.include?("[")
                :markdown
                  #{resource}
              - else
                %a.fr-link{href: resource, target: "_blank"}= resource

    .question-section
      %h2.question-section__title Critères à valider
      %form
        %fieldset
          - @question.criteria.each_with_index do |criterion, index|
            .fr-checkbox-group.fr-mb-3w
              %input{type: "checkbox", id: "criterion-#{index}", name: "criterion"}
              %label{for: "criterion-#{index}", class: "fr-text"}= criterion.label

        %button.fr-btn.fr-btn--secondary.fr-mt-4w{type: "submit"} Enregistrer ma réponse
