- content_for(:page_title) { "Audit pour #{@startup.name}" }

.fr-col-12.fr-col-md-10.fr-col-lg-8
  %h1 Audit pour #{@startup.name}

%p.fr-text--lead.fr-mb-4w
  Choisissez une catégorie pour valider les standards techniques de votre produit.

%p.fr-text--sm.fr-mt-1w= total_completion_label(@audit)

.fr-col-md-8
  %ol.fr-task-list__items
  - @audit.grouped_questions.each_with_index do |(category, questions), index|
    %li.fr-task-list__item
      %span.fr-task-list__item-name
        %span.fr-task-list__section-number= "#{index + 1}."
        = link_to category_startup_audit_path(@startup.ghid, category), class: "fr-link fr-link--md" do
          = t("audits.categories.#{category}", default: category.humanize)
          %span.fr-text--sm.fr-text--regular.fr-ml-1w
            = category_progress_label(@audit, category)
      %span.fr-task-list__status
        = category_progress_badge(@audit, category)
