!!! 5
%html{ 'data-fr-scheme' => 'light' }
  %head
    %title
      = yield(:page_title) if content_for?(:page_title)
      = " - " + t("global.service_name")
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "dsfr.min", "application-turbo-track" => "reload"
    = stylesheet_link_tag "utility/dsfr-utility.min", "application-turbo-track" => "reload"
    = stylesheet_link_tag "dsfr-overrides", "data-turbo-track" => "reload"
    = stylesheet_link_tag "application", "data-turbo-track" => "reload"

    = javascript_importmap_tags
    = javascript_include_tag "dsfr.module.min.js"

    = favicon_link_tag asset_path('favicon.png')
  %body
    = render 'shared/skiplinks'
    = render 'shared/beta_banner'
    = render 'shared/header'

    %main#main{ class: class_names(spacer: !content_for?(:nospacer)) }
      .fr-container
        = render_breadcrumbs(builder: DsfrHelper::BreadcrumbBuilder)
      - unless content_for?(:nospacer)
        .fr-container.fr-mt-3w
          .fr-grid-row
            %div{class: default_column_classes}
              = render 'shared/flash'

              = yield
      - else
        = yield

    = render 'shared/footer'
